@import "tailwindcss";

/* 기본 리셋 + 배경 */
html, body {
  padding: 0;
  margin: 0;
  background: #f8fafc;
}

/* 폰트 기본값 */
body {
  color: #0f172a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}